@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container{
  max-width: 1000px;
  margin: 0 auto;
}
.container-small{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

*{
  outline: none;
}